---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

// Ensure figures in publications scale properly
.publication-figure img {
  max-width: 100%; /* Ensures the image scales within its container */
  height: auto;    /* Maintains aspect ratio */
  display: block;  /* Removes inline spacing issues */
  margin: 0 auto;  /* Centers the image */
}